# Output files
*.pdf
*.pickle
*.pkl
*.png
*.svg
*.tar.gz
*.v2

# Build files
*.egg-info/
*build/
.eggs/
.fuse_*
dist/
version.py

# Temporary files
*.pyc
*condaenv.*
.cache/
.coverage
.coverage.*
.ipynb_checkpoints/
.mypy*/
.pytest_cache/
.sympy-cache*/
__pycache__/
htmlcov/
prof/
typings/

# Virtual environments
*venv/
.tox/
pyvenv*/

# Settings
.idea/
**.code-workspace
julia/notes/crosscheck.md
julia/plots
